body {
  align-items: center;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  margin: 0;
}

.NavBar {
  overflow: hidden;
  position: relative;
  padding: 10px;
  display: flex;
}

.Link {
  display: none;
}

.NavBar a {
  color: black;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  display: block;
}

.NavBar a.icon {
  background: white;
  display: block;
  position: absolute;
  right: 0;
  top: 0;
}

.NavBar a:hover {
  background-color: #172b4d;
  color: #36b37e;
}

.container {
  width: 100%;
  background-image: url(Pics/Background.png);
  background-size: 100%;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.title h1,
.title h2 {
  text-align: center;
}

#a {
  color: #172b4d;
}

#b {
  color: #36b37e;
}

#c {
  color: #172b4d;
  text-align: center;
  line-height: 28px;
}

.container ul {
  display: flex;
  align-items: center;
  padding: 0;
  list-style: none;
}

.container li {
  float: right;
  margin-left: 10px; 
}

@media screen and (min-width: 375px) and (max-width: 768px) {
  .title {
    margin-top: 60px;
    width: 80%;
  }

  #a {
    margin: 1px;
    font-size: 40px;
    font-weight: 700;
  }

  #b {
    margin: 1px;
    font-size: 40px;
    font-weight: 700;
  }

  #c {
    font-size: 20px;
    font-weight: 400;
    width: 327px;
  }
}

.Works {
  display: grid;
  margin-top: 25px;
  text-align: center;
  font-size: 30px;
}

.Works h1 {
  color: #172b4d;
}

.Works button{
  background-color: white;
  width: 40px;
  height: 40px;
  border-radius: 32px;
  border: 1px solid #dfe1e6;
}

.WorksCard {
  margin-top: 30px;
  margin-left: 5%;
  margin-right: 5%;
  border: 1px solid #d0d9d4;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.cd1 {
  width: 100%;
  background-color: #ebf0ee;
  text-align: center;
  height: 200px;
}

.cd2 {
  width: 100%;
  text-align: center;
  color: #3a4a42;
}

.cd3{
  width: 100%;
  list-style: none;
  padding: 0;
  display: flex;
  gap: 30px;
  flex-direction: row;
  justify-content: center;
}

.cd3 button{
  color: #3a4a42;
  font-weight: 600;
  margin: 3%;
  width: 60px;
  height: 32px;
  padding: 0;
  border: 0;
}

.cd4 {
  margin: 20px;
}

.cd4 button {
  padding: 12px;
  gap: 10px;
  background-color: #36b37f;
  font-weight: 500;
  font-size: 17px;
  line-height: 24px;
  border-radius: 4px;
  border: 0;
  width: 153px;
  height: 48px;
  color: white;
}


.About {
  background-image: url(Pics/Background2.png);
  background-size: 100%;
  background-repeat: no-repeat;
  display: flex;
  text-align: center;
  flex-direction: column;
  margin-bottom: 50px;
}

.About h1 {
  color: #172b4d;
  text-align: center;
  font-weight: 700;
  font-size: 40px;
  line-height: 52px;
}

.About p {
  width: 90%;
  padding-left: 5%;
  color: #42526e;
  text-align: center;
  font-weight: 400;
  font-size: 20px;
  line-height: 32px;
}

.About button {
  padding: 12px;
  gap: 10px;
  background-color: #36b37f;
  font-weight: 500;
  font-size: 17px;
  line-height: 24px;
  border-radius: 4px;
  border: 0;
  width: 153px;
  height: 48px;
  color: white;
}

.About2 {
  display: flex;
  flex-direction: column;
  align-items: center; 
}

.About2 h1 {
  color: #344563;
}

.About2 img {
  width: 90px;
}

.con { 
  width: 327px;
  height: 316px;
  padding: 0px;
  text-align: center;
  background-color: #ebF0ee;
  
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: center;
  list-style: none;

  border: 1px solid #C1C7D0;
  border-radius: 8px;
}

.con2 {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin: 3%;
  padding: 0;
  list-style: none;
}

#but{
  margin: 5px;
}

.con button {
  width: 89px;
  height: 40px;
  background-color: white;
  color: #36b37e;
  border: 0;
}